.graph-container {
    margin: 50px;
}

.graph-wrapper {
    position: relative;
    height: 900px; // temp
    svg{
        position: absolute;
        height: 100%; // temp
        width: 100%;
        top: 0px;
        left: 0px;

    }
}

.vertex {
    color: $text-lighter;
    background-color: $background-vertex;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 20px;
    left: 100px;
    border-radius: 5%;
  }