.graph-container {
    margin: 50px;
}

.graph-wrapper {
    position: relative;
    height: 850px; // temp
    border: solid 1px black;
    border-radius: 2.5%;
    svg{
        position: absolute;
        height: 100%; // temp
        width: 100%;
        top: 0px;
        left: 0px;

    }
}

.vertex {
    color: $text-lighter;
    background-color: $background-vertex;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 20px;
    left: 100px;
    border-radius: 5%;

    /*
     To Prevent user selectin inside the drag source 
    */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }